.cadrone_nice_contact_form_form_container form > div > div{margin:2%}
.cadrone_nice_contact_form_form_container label{display:block;}
.cadrone_nice_contact_form_form_container input{display:block;width:100%;}
.cadrone_nice_contact_form_form_container textarea{width:100%;height:10em;}
