<div class="cadrone_nice_contact_form_form_container">
    {{ form_start(form, {class: "cadrone_nice_contact_form_form", 'attr': {'novalidate': 'novalidate'}}) }}
        {{ form(form) }}
    {{ form_end(form) }}
</div>